.centre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    width: 300px;
}

.selbtn{
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    color: black;
    font-weight: bold;
}

.selbtn:hover{
    transform: translateY(-2px);
}

.selbtn.active{
    border: 3px solid white;
    filter: brightness(85%);
}

.selbtn.selorange.active{
    font-size: 0.97em;
}

/*The colours for the selector*/
.selred{
    background-color: red;
}
.selblue{
    background-color: blue;
}
.selgreen{
    background-color: green;
}
.selorange{
    background-color: orange;
}
.selyellow{
    background-color: yellow;
}
.selwhite{
    background-color: white;
}
